@model Esportiva.Models.TimeModel
@{
    ViewBag.Title = "Editar";
}

<input type="hidden" id="codigo-time" value="@Model.Id" />

<div class="titulo-times">
    <p>
        Editar Time -
        <font style="color: @Model.Cor1">@Model.Nome </font>
        <i data-opcao="editar-time" data-nome="@Model.Nome"
           data-id="@Model.Id" data-sigla="@Model.Sigla" data-cor1="@Model.Cor1"
           data-cor2="@Model.Cor2" data-cor3="@Model.Cor3" data-nacionalidade="@Model.Nacionalidade"
           data-fundacao="@Model.DataFundacao.ToShortDateString()" class="fa fa-edit">
        </i>
    </p>
</div>

<hr />

<div class="row justify-content-md-center">
    <div class="col-md-12">
        <div class="row col-md-12">
            <div class="col-md-3 balao-opcoes" id="btn-relatorios">
                <p>
                    RELATÓRIOS
                    <a data-toggle="tooltip" data-original-title="Visualize os relatórios gerados pelo sistema sobre o seu time" data-placement="bottom">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </p>
            </div>

            <div class="col-md-3 balao-opcoes" id="btn-jogadores">
                <p>
                    JOGADORES
                    <a data-toggle="tooltip" data-original-title="Gerencie os jogadores do seu time" data-placement="bottom">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </p>
            </div>

            <div class="col-md-3 balao-opcoes" id="btn-partidas">
                <p>
                    PARTIDAS
                    <a data-toggle="tooltip" data-original-title="Visualize e cadastre as partidas do seu time" data-placement="bottom">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </p>
            </div>
        </div>
        
        <br />

        <div class="row col-md-12">
            <div class="col-md-3 balao-opcoes" id="btn-adversarios">
                <p>
                    ADVERSÁRIOS
                    <a data-toggle="tooltip" data-original-title="Visualize e cadastre os times adversários" data-placement="bottom">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Time/_ModalEditarTimePartial")

@section Styles{
    <link href="~/Content/css/times.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Administrativo/Times/editar.js"></script>
    <script src="~/Scripts/Administrativo/Times/index.js"></script>
}