@model List<Esportiva.Models.PartidaModel>

@if (Model.Count == 0)
{
    <div class="col-md-12">
        <div class="time-card">
            <div class="time-card-titulo">
                <p class="texto-card">
                    Ops! Nenhuma partida encontrada
                    <i style="color: var(--color-red);" class="fa fa-times-circle"></i>
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-12">
        @foreach (var partida in Model)
        {
            <div class="time-card" style="background-color: @partida.Time1.Cor1;">
                <div class="time-card-titulo" style="background-color: @partida.Time1.Cor2;">
                    <p class="texto-card" style="color: @partida.Time1.Cor3;">@partida.Time1.Nome X @partida.Time2.Nome</p>
                </div>

                <div class="time-card-info" style="color: @partida.Time1.Cor3;">
                    <p class="descricao-card">Nome da partida: @partida.NomePartida</p>
                    <p class="descricao-card">Local de competição: @partida.LocalCompeticao</p>
                    <p class="descricao-card">Data: @partida.DataPartida.ToShortDateString()</p>
                </div>

                <div class="time-card-opcoes" style="color: @partida.Time1.Cor3;">
                    <p>
                        Opções:
                        <a class="habilita-tooltip" data-toggle="tooltip" data-original-title="Ver Acontecimentos" data-placement="bottom" 
                           data-opcao="ver-acontecimentos" data-id-time="@partida.IdTime1" data-id-partida="@partida.Id">
                        <i class="fa fa-eye"></i></a>

                        <a class="habilita-tooltip" data-toggle="tooltip" data-original-title="Excluir Partida" data-placement="bottom"
                           data-opcao="excluir-partida" data-id="@partida.Id">
                            <i class="fa fa-trash lixeira"></i>
                        </a>

                        <a class="habilita-tooltip" data-toggle="tooltip" data-original-title="Novo Acontecimento" data-placement="bottom"
                           data-opcao="novo-acontecimento" data-nome-partida="@partida.NomePartida" data-id="@partida.Id" data-id-time="@partida.IdTime1">
                            <img class="icone-imagem" src="~/Content/images/selecao.png"/>
                        </a>
                    </p>

                </div>
            </div>
        }
    </div>

}


