@model Esportiva.Models.PartidaViewModel
@{
    ViewBag.Title = "Partidas";
}

<input type="hidden" id="codigo-time" value="@Model.codigoTime" />
<div class="titulo-times">
    <p>
        PARTIDAS
        <a class="habilita-tooltip" data-toggle="tooltip" data-original-title="Nova" data-placement="right" id="btn-nova-partida">
            <i class="fa fa-plus"></i>
        </a>
    </p>
</div>

<hr />

<div id="partial-partidas">
    @Html.Partial("Partidas/_PartidasPartial", Model.Partidas)
</div>

<div class="text-center">
    <a href="/Administrativo/EditarTime?codigoTime=@Model.codigoTime" class="btn btn-primary" data-original-title="" title="">VOLTAR</a>
</div>

@Html.Partial("Partidas/_ModalNovaPartidaPartial", Model)
@Html.Partial("Partidas/_ModalExcluiPartidaPartial")
@Html.Partial("Partidas/_ModalNovoAcontecimentoPartial", Model)

@section Styles{
    <link href="~/Content/css/times.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Administrativo/Partidas/index.js"></script>
}